---
import Layout from "../layouts/Layout.astro";
import Skills from "@/components/Skills.astro";
import MyProfile from "@/components/MyProfile.astro";
import Education from "@/components/Education.astro";
import Projects from "@/components/Projects.astro";
import WorkExperience from "@/components/WorkExperience.astro";

import cv from "@/lib/my-portfolio.json";
import Footer from "@/components/Footer.astro";

const { email } = cv.basics;
const { skills, projects, work } = cv;
---

<Layout email={email} title="Bernardo Alfaro - Frontend Engineer">
  <main>
    <section class="px-10 md:px-40 md:mt-20 mt-10 flex flex-col items-center">
      <MyProfile />
      <Projects projects={projects} />
      <WorkExperience works={work} />
      <Education />
      <Skills skills={skills} />
      <Footer mail={email} />
    </section>
  </main>
</Layout>
