---
interface Props {
  description: Array<string>;
  title: string;
  startDate: string;
  endDate: string;
  position?: string;
}

const { description, title, endDate, startDate, position } =
  Astro.props as Props;

function separator() {
  return endDate && startDate ? " - " : "";
}
---

<div class="flex flex-col my-10">
  <div class="flex justify-between items-center">
    <div class="flex justify-start flex-col">
      <span class="text-lg text-white">{title}</span>
      <span class="text-orange-400 text-sm text-balance">{position}</span>
    </div>

    <span class="text-white/80 text-md flex flex-wrap">
      {startDate}
      {separator()}
      {endDate}
    </span>
  </div>
  <ul class="text-white/70 text-justify max-w-[87ch] mt-2">
    {description.map((desc) => <li class="my-1">- {desc}</li>)}
  </ul>
</div>
