---
import cv from "@/lib/my-portfolio.json";
import GithubIcon from "@/icons/GithubIcon.astro";
import LinkedInIcon from "@/icons/LinkedInIcon.astro";

const { basics } = cv;

const NAV_MENU = [
  { label: "Home", path: "#" },
  { label: "Skills", path: "#skills" },
  { label: "Education", path: "#education" },
];
---

<header
  class="w-full gap-5 place-items-center grid grid-cols-3 grid-row-2 fixed m-auto top-0 z-10 p-5"
>
  <div class="flex items-center flex-col">
    <h1 class="text-balance font-semibold md:text-lg text-sm">
      {basics.name}
      <span class="text-orange-400">{basics.surname}</span>
    </h1>
    <h2 class="text-balance text-xs opacity-90">
      {basics.location.region}, {basics.location.city} - {
        basics.location.address
      }
    </h2>
  </div>

  <ul
    class="bg-[rgba(0,0,0,.75)] w-200 py-1 px-4 rounded-xl flex flex-row gap-6 text-[0.8rem] md:col-start-2 col-start-3"
  >
    {
      NAV_MENU.map((menu) => (
        <li class="text-white text-balance cursor-pointer hover:scale-105 hover:underline hover:opacity-90 transition-all">
          <a href={menu.path}>{menu.label}</a>
        </li>
      ))
    }
  </ul>

  <ul
    class="bg-[rgba(0,0,0,.75)] w-200 py-1 px-4 rounded-xl flex flex-row gap-6 text-[0.8rem]"
  >
    <li
      class="text-white text-balance cursor-pointer hover:scale-105 hover:opacity-90 transition-all"
    >
      <a
        href="https://github.com/BernardoAlfaro2"
        target="_blank"
        title="Github"
      >
        <GithubIcon />
      </a>
    </li>
    <li
      class="text-white text-balance cursor-pointer hover:scale-105 hover:opacity-90 transition-all"
    >
      <a
        href="https://www.linkedin.com/in/bernardo-alfaro-r-3558ba168/"
        target="_blank"
        title="LinkedIn"
      >
        <LinkedInIcon />
      </a>
    </li>
  </ul>
</header>
